<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn-icons-png.flaticon.com/512/4200/4200126.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <link rel="stylesheet" href="CSS/projet_bdd.css">
    <link rel="stylesheet" href="CSS/projet_page_template.css">
    <link rel="stylesheet" href="CSS/commun.css">
    
    <title>Projet base de données</title>
</head>
<body>

    <div id="nav">
        <header class="header container">
            <a href="home.html"><div class="logo"></div></a>
            <nav class="top-nav">
                <ul>
                    <li><a href="home.html">Accueil</a></li>
                    <li><a class="under-line" href="projet.html">Projets</a></li>
                    <li><a href="attente.html">Amusements</a></li>
                    <li><a href="attente.html">Dessins</a></li>
                    <li><a href="attente.html">Voyages</a></li>
                    <li><a href="moodboard.html">MoodBoard</a></li>
                </ul>
            </nav>

            <!-- Menu pour les utilisations mobiles -->
            <div class="mob-nav">
                <span class="fa fa-bars"></span>
            </div>
            <nav>
                <ul class="dropDN-menu">
                    <li><a href="home.html">Accueil</a></li>
                    <li><a href="projet.html">Projets</a></li>
                    <li><a href="attente.html">Amusements</a></li>
                    <li><a href="attente.html">Dessins</a></li>
                    <li><a href="attente.html">Voyages</a></li>
                    <li><a href="moodboard.html">MoodBoard</a></li>
                </ul>
            </nav>
        </header>
    </div>


    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://i.pinimg.com/564x/36/d1/32/36d132199f3610877dfe6d217f776a8f.jpg" alt="">
                </div>

                <div class="blog-slider__content">
                    <div class="blog-slider__title">Présentation</div>
                    <div class="blog-slider__text">Le but de ce projet était de répondre au cahier des charges de la chocolaterie de Dijon. Celle-ci souhaitait une base de données 
                        fonctionnelle lui permettant de surveiller ses ventes et sa production de chocolat. Pour ce faire, je devais rendre à la fin un rapport argumenté avec le script 
                        en annexe présentant l’ensemble des demandes qui doit être fourni à l’entreprise. Dans le cadre de ce projet j'ai réalisé un MCD, un dossier avec requêtes et 
                        analyses simples sur la gestion des produits. Et, j'ai réalisé un jeu d'essai sur cette base de données.
                    </div>
                </div>
            </div>

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://i.pinimg.com/564x/dc/b9/f3/dcb9f3ba1c0099aacba61110f81be767.jpg" alt="">
                </div>

                <div class="blog-slider__content">
                    <div class="blog-slider__title">Conditions de réalisation</div>
                    <div class="blog-slider__text">Pour ce projet nous avions comme consigne de le réaliser en duo, malheureusement beaucoup de choses ont fait que j'ai réalisé ce projet 
                        quasiment seule. Afin de le réaliser la professeure nous avait laissé à la promotion et à moi-même 12 heures en autonomie réparties sur plusieurs mois. J'ai 
                        évidemment passé bien plus de 12 heures à le réaliser. Les outils utilisés étaient MySQL Workbench, le langage SQL et l'application looping pour la réalisation de 
                        MCD.
                    </div>
                </div>
            </div>
          
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://i.pinimg.com/564x/7c/ca/11/7cca11386316e049ccd958fb132c1819.jpg" alt="">
                </div>

                <div class="blog-slider__content">
                    <div class="blog-slider__title">Formation</div>
                    <div class="blog-slider__text">Ce projet a été réalisé dans le cadre de mes études à l'IUT de Dijon. Il a servi à valider les compétences "Mettre à jour et interroger 
                        une base de données relationnelle" et "Concevoir une base de données relationnelle à partir d'un cahier des charges". Pour se faire nous avions eu 6h de formations
                        spécifiques à ce projet. Heures durant lesquelles la professeure nous avait expliqué le projet et d'autres qui permettait des rendez-vous de mi-projet pour nous
                        permettre de nous aider. Ce projet est lié à la ressource "Introduction à la BDD" où nous avions eu des cours complets pour nous introduire à SQL.
                    </div>
                </div>
            </div>

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="https://i.pinimg.com/564x/47/13/e3/4713e3544bc5de71a7ac246fd1d23f3b.jpg" alt="">
                </div>

                <div class="blog-slider__content">
                    <div class="blog-slider__title">Résultat final</div>
                    <div class="blog-slider__text">J'ai donc créé une base de données fonctionnelle avec requêtes pertinentes et explications de celle-ci. Grâce à ce projet je suis capable
                        de réaliser une BDR (base de données relationnelle). Je suis aussi parfaitement capable d'interroger une BDR. J'ai effectué toutes les requêtes présentes dans le document
                        joint ci-dessous. J'ai d'ailleurs eu 20/20 à ce projet.
                    </div>
                    <br/><br/>
                    <a href="https://drive.google.com/file/d/1W1pA3SUadBi8hRbe1mn26q0ug79zEEn2/view?usp=sharing" target="_blank">Le PDF ici !</a>
                </div>
            </div>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="JavaScript/home.js"></script>
    <script async defer type="text/javascript" src="JavaScript/projet.js"></script>
</body>
</html>